danger = rgb(223, 97, 75)
secondary = #8a41f7
primary = rgb(21, 126, 247)
success = rgb(63, 219, 206)
rose = rgb(218, 20, 96)
black-bis = hsl(0, 0%, 7%)
muted = #e9e9e9

/* Adicionando cores */
.uk-blackground-black-bis {
  background-color: black-bis;
}

.uk-text-danger-bis
  color: danger !important;

.uk-text-purple 
  color: secondary !important;

.uk-circle.uk-background-danger 
  border: danger 4px solid !important;

.uk-circle.uk-background-primary 
  border: primary 4px solid;

.uk-circle.uk-background-success 
  border: success 4px solid;

.uk-circle.uk-background-rose 
  border: rose 4px solid;


#previous_events .uk-card-header.uk-border-danger {
  border-left: tomato 4px solid !important;
}
#previous_events .uk-card-header.uk-border-primary {
  border-left: rgb(21, 126, 247) 4px solid !important;
}
#previous_events .uk-card-header.uk-border-success {
  border-left: rgb(63, 219, 206) 4px solid !important;
}
#previous_events .uk-card-header.uk-border-rose {
  border-left: rgb(218, 20, 96) 4px solid !important;
}

// Labels
.uk-label-muted
    background-color: muted
    color: #888282