danger = rgb(223, 97, 75)
secondary = #8a41f7
primary = rgb(21, 126, 247)
success = rgb(63, 219, 206)
rose = rgb(218, 20, 96)
black-bis = hsl(0, 0%, 7%)
muted = #e9e9e9

// texts
.uk-text-danger-bis
  color: danger !important;

// colors borders
.uk-circle.uk-background-danger {
  border: rgb(223, 97, 75) 4px solid !important;
}
.uk-circle.uk-background-primary {
  border: rgb(21, 126, 247) 4px solid;
}
.uk-circle.uk-background-success {
  border: rgb(63, 219, 206) 4px solid;
}
.uk-circle.uk-background-rose {
  border: rgb(218, 20, 96) 4px solid;
}

#next_courses .uk-card-header.uk-border-danger {
  border-left: tomato 4px solid !important;
}
#next_courses .uk-card-header.uk-border-primary {
  border-left: rgb(21, 126, 247) 4px solid !important;
}
#next_courses .uk-card-header.uk-border-success {
  border-left: rgb(63, 219, 206) 4px solid !important;
}
#next_courses .uk-card-header.uk-border-rose {
  border-left: rgb(218, 20, 96) 4px solid !important;
}

.uk-blackground-black-bis
  background-color: black-bis;

.uk-label-muted
    background-color: muted
    color: #888282