// navigation
.uk-navbar-nav .uk-active
  border-bottom: 5px solid primary
  border-radius: 5px;

// cards
.uk-card
  transition: transform 500ms

.uk-card:hover
  transform: scale(1.1, 1.1)

.uk-card-title
  font-size: 20px !important

.uk-card.uk-border-rounded
  border-radius: 15px

.progress-text
    font-size: 1rem

.uk-circle
  background-color: transparent;
  width: 40px;
  height: 38px;
  margin-bottom: 25px;
  border-radius: 50%;


#next_courses .uk-card-header {
  border-top-left-radius: 15px;
  border-bottom: none;
  margin-bottom: 30px;
}

#courses > div > a > div {
  height: 100px !important;
}

@media (max-width: 959px) {
  .course-meta {
    margin-top: 3rem !important;
  }
  #courses .uk-card-title {
    height: 210px;
  }
}

@media (min-width:960px)
  .course-meta
    margin-top: 18vh !important;

  #courses .uk-card-title
    height: 190px;

// meta of courses
.course-meta .more
  font-size:  15px
  padding: 0px

.course-meta .more div
  margin-bottom: 10px

.course-meta ion-icon
  font-size: 20px
  margin-right: 3px
  vertical-align: middle


.scroll
  overflow: scroll !important;
  height: 700px

// search-bar
.searchsize
    &:hover
      transform: scale(1.2, 1.3)

.searchsize
  transition: transform .5s ease-out !important

::-webkit-input-placeholder
  text-align: center

:-moz-placeholder
  text-align: center

.uk-button-watch
  height: 150px

// no effects
.uk-card.no-scale
  transform: none !important
  transition: none !important
